<h1>Groups</h1>

<ul>
<% @groups.each do |group| %>
  <li>
    <%= link_to group.name, group_path(group) %>
  </li>
<% end %>
</ul>

<%= link_to "Back to Main Page", root_path %>
|
<%= link_to "New Group", new_group_path %>