<% type_name = gps.first.type_name %>

<table>
<p>
  <strong><%= type_name %></strong>
</p>
<% gps.each do |p| %>
  <% parameter_key = p.parameter_key %>
  <% parameter_val = p.parameter_val %>
  <tr>
    <td>
     <%= label_tag p.name, p.name %>
     <%= hidden_field_tag parameter_key, p.name, :class => "form-alpha" %>
    </td>
    <td>
     <%= text_field_tag parameter_val, p.value, :class => "form-beta" %>
    </td>
  </tr>
<% end %>
</table>