<div class="page_container">
  
  <h1>New Parameter Set</h1>
  
  <p><strong>Explain what a parameter set is, and the setup of params.</strong></p>

  <%= render 'form' %>

  <%= link_to "Back to Endpoint", endpoint_path(@endpoint) %>
  
</div>