<div class="page_container">

  <h1>New Parameter</h1>
  
  <p><strong>Explain what a parameter is, again.</strong></p>

  <%= render 'form' %>

  <%= link_to "Cancel", parameter_set_path(@parameter_set) %>

</div>